button.delete-button {
  background: transparent;
  border: transparent 1px solid;
  color: #000;
  margin-left: 1em;
  height: 2em;
  width: 2em;
  line-height: 1.15em;
  border-radius: 1.5em;
  padding: .5em;
  font-weight: bold;
  &:hover {
    background: #ccc;
  }
}
